{% include 'padre.html' %}
    {% block contenidocambiante %}

    <h1>Lista de Profesores</h1>
    <ul>
            
    {% for curso in cursos  %}
    <li><a href="{% url 'DetallaCursos' curso.id %}"> {{curso.nombre}}</a>

    </li>
        <div>
            <button>

                <a href="{% url 'EliminaCursos' curso.id %}"> Eliminar</a>
            </button>
            
            <button>

                <a href="{% url 'ActualizaCursos' curso.id %}"> Editar</a>
            </button>
        </div>
    {% endfor %}
        
    </ul>

    <a href="{% url 'CreaCursos' %}"> Crear Curso</a>
    {% endblock contenidocambiante %}
        
        