<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'ListaCursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'ListaProfesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'entregables' %}">Entregables</a>
        <a class="navbar-brand" href="{% url 'curso_formulario' %}">Formulario</a>

        
        <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
    </div>
</nav>